.btn{
  font-family: NovecentoWide, Arial, sans-serif;
  font-size: 14px; 
  font-weight: 600;  
  color: white; 
  background-color: #87B672;
  padding:10px 16px;
  border:none;
  text-transform: uppercase;
  cursor: pointer; 

  &-lightgreen{
    background-color: #A5C895;
  }
}
