// @font-face {
//   font-family: 'TitilliumWeb';
//   src: url(../fonts/titillium-web-light-300.ttf) format('truetype');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'TitilliumWeb';
//   src: url(../fonts/titillium-web-regular-400.ttf) format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'TitilliumWeb';
//   src: url(../fonts/titillium-web-italic-400.ttf) format('truetype');
//   font-weight: 400;
//   font-style: italic;
// }

@font-face {
  font-family: 'NovecentoWide';
  src: url(../fonts/novecento-wide-semibold-600.otf) format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NovecentoWide';
  src: url(../fonts/novecento-wide-bold-700.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
}