main.services-page{

  section.services{
    padding-top:56px;
  }

  .service-cards{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include for-phone-and-tablet{ justify-content: space-around; }

    .service-card{
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 30px;
  
      .card-left{
        width:76px;
        height:120px;
        float:left;

        @include for-phone-only{ width:66px; }
  
        img{
          width:76px;
          height:76px;
          background-color: white;
          
          @include for-phone-only{ 
            width:66px; 
            height:66px; 
          }
        }
      }
  
      .card-right{
        width:480px;
        height:120px;
        padding-left: 110px;

        @include for-phone-only{ 
          width:330px; 
          height:150px;
        }
  
        h3{
          @include text-heading-md;
          @include text-gray-one;
          text-transform: uppercase;
          margin-bottom: 16px;
        }
  
        p{
          @include text-body;
          @include text-gray-four;
        }
      }   
    }
  }

  section.pricing{
    background-color: #EFEFEF;
    height:580px;
    margin-left:auto;
    margin-right:auto;
  }

  section.table{
    margin-top:-360px;
    padding-bottom: 60px;
  }

  .pricing-cards{
    display:flex;
    //justify-content: space-between;
    font-family: Arial, sans-serif;

    @include for-phone-only{ flex-wrap:wrap;}

    .price-card{
      text-align: center;
      width:292px;
      margin-right: 4px;

      @include for-phone-only{ 
        width:100%; 
        margin-top: 40px;
      }

      h2{
        background-color: #87B672;
        color:white;
        padding:12px;
      }

      p{
        background-color: white;
        color:#8F8F8F;
        padding:12px;
      }

      p:first-of-type{
        color:#666262;
        font-weight: bold;
        font-size: 38px;
      }

      .semi-border-bottom{
        width:90%;
        height:1px;
        background-color: #C2C2C2;
        margin:0px auto;
      }

      .btn-center-temp{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #87B672;
        height:78px;
      }
    }

    .price-card:last-of-type{
      margin-right: 0px;
    }
  }

  section.more-info{
    padding-bottom: 60px;

    .card-row{
      display:flex;
      justify-content: space-between;
      padding-top:60px;

      @include for-phone-only{ flex-wrap:wrap;}

      .card{
        font-family: Arial, sans-serif;
        width:350px;

        @include for-phone-only{ width:100%; }

        h3{
          @include text-heading-md;
          @include text-gray-two;
          text-transform: uppercase;
          margin-bottom:20px;
        }

        p{
          @include text-body;
          @include text-gray-four;

          @include for-phone-only{ margin-bottom:30px; }
        }
      }
    }
  }
}