#blog-page{
  font-family: Arial, sans-serif;

  main{
    margin-top:54px;
  }

  h3{
    color:#666262;
    text-transform: uppercase;
  }

  p, span{
    color:#9B9999;
  }

  p{
    font-size: 16px;
    line-height: 25px;
  }

  .main-left-col{
    width:70%;
    padding-right:40px;
    //background-color: lightblue;
  }

  .main-right-col{
    width:30%;
    padding-left:20px;
    padding-right:16px;
    //background-color:lightgreen;

    section{
      margin-bottom: 30px;

      h3{
        padding-bottom:10px;
      }
    }
    
    section.popular{
      
      p:not(:last-child){
        border-bottom:1px solid #CCCCCC;
      }

      p{
        line-height: 42px;
      }
    }
  }

  .post:not(:first-of-type){
    margin-top:54px;
  }

  .post{
    width:750px;

    .img{
      img{
        width:100%;
        height:400px;
      }
    }

    h3{
      margin-top: 24px;
      margin-bottom: 24px;
    }

    .tag-row{
      padding-bottom:24px;
    }

    .tag{
      height:40px;
      background-color: #EFEFEF;
      margin-right: 10px;
      padding-top:10px;
      padding-right:14px;
      padding-left:14px;
      font-size: 14px;
      font-weight:600;
      text-transform: uppercase;


      img{
        margin-right: 10px;
      }
    }

    p.excerpt{
      padding-bottom:54px;
    }
  }

}
  
  