#contact-page{
  font-family: Arial, sans-serif;

  section.form-message, 
  section.location,
  section.info,
  section.office{
    padding-bottom: 30px;
  }

  .contact-area{
    padding-top:50px;
    padding-bottom:50px;
  }
  
  h3, h4{
    color:#5F5B5B;
    text-transform: uppercase;
  }

  h3{
    padding-bottom: 20px;
  }

  p{
    @include section-paragraph-message;
  }

  .cols{
    display:flex;
  }

  .main-left-col{
    width:70%;
    padding-right:40px;
    //background-color: lightblue;
  }

  .main-right-col{
    width:30%;
    padding-right:16px;
    //background-color:lightgreen;
  }

  form{

    span{
      color:red;
    }

    input[type=text], 
    input[type=email],
    textarea {
      border: none;
      background-color: #EFEFEF;
    }

    input[type=text], input[type=email]{
      width: 45%;
      padding: 11px;
      margin-bottom: 20px;
      display: inline-block;
    }

    textarea{
      width: 85%;
      height: 290px;
      margin-bottom: 20px;
      resize: none;
    }

    .btn{
      @include green-button;
    }
  }

  section.location{
    p:first-of-type{
      padding-bottom: 20px;
    }
  }

  section.info{

    .left-col{
      width:50%;

      p{
        font-weight:600;
      }
    }

    .right-col{
      width:50%;
    }
  }

  section.office{

    .cols{
      padding-bottom:20px;
    }

    .left-col{
      width:60%;
    }

    .right-col{
      width:40%;
    }
  }

}


