*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

// body{
//   //font-family: 'Titillium Web';
//   background-color:lightcyan;
// }

// .container-outer{
//   width:1600px;
//   background-image: url("../img/home/top-banner.png");  
//   background-position: center;
//   margin: 0px auto;
//   background-color:lightgreen;
// }

.container{
  width:1180px;
  margin: 0px auto;
  // background-color:lightskyblue;
}
