#home-page{
  header{
    width:$page-width;
    height:600px;
    background-image: url("../img/home/top-banner.png");  
    background-position: center;
    margin: 0px auto;
  
    .top-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top:30px;
      padding-bottom:15px;
  
      .site-logo{
        font-family: 'Pacifico', cursive;
        color: white;
        font-size: 40px;
      }
  
      ul{
        list-style: none;
  
        li{
          .twitter-icon{
            width:17px;
            height:13px;
          }
  
          .facebook-icon{
            width:10px;
            height:18px;
          }
  
          .rss-icon{
            width:15px;
            height:15px;
          }
        }
    
        li:nth-child(odd){
          background-color: rgba(254, 254, 254, 0.7);
          border-radius: 50%;
          
          display: table-cell;
          height: 35px;
          text-align: center;
          width: 35px;
          vertical-align: middle;
        }
  
        li:nth-child(even){
          display: table-cell;
          height: 35px;
          text-align: center;
          width: 10px;
          vertical-align: middle;
        }
      }
    }
  
    nav{
      font-family: Arial;
      text-transform: uppercase;
      font-size: 18px;
      border-top: solid 1px white;

      ul{
        list-style: none;
        display: flex;
        padding-top:25px;
        padding-bottom:135px;
  
        li{
          margin-right:40px;

          a{
            outline: none;
            text-decoration: none;
          }
          
          a:link, a:visited{
            color:white;;
          }

          a.active-link{
            color:#87B672;
          }
        }
      }
    }
  
    h1{
      color:white;
      font-family: Arial;
      text-transform: uppercase;
      text-align: center;
  
      span{
        color:#87B672;
      }
    }
  
    p{
      color:white;
      font-size: 20px;
      font-weight: lighter;
      font-family: Verdana, Tahoma, sans-serif;
      text-align: center;
      padding-top:30px;
      padding-bottom:30px;
    }
  
    .btn-center{
      display: flex; 
        justify-content: center;
  
      .btn{
        cursor: pointer; 
        border: 2px solid white; 
        background-color: transparent; 
        height: 44px; 
        width: 140px; 
        color: white; 
        font-family: Arial;
        font-size: 14px; 
        font-weight: bolder;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
  
  main{
    section{
      &.team{
        width:$page-width;
        height:480px;
        margin: 0px auto;
        background-color: #fefefe;

        .team-heading{
          border-bottom: solid 1px #CCCCCC;

          h2{
            @include section-heading;
            margin-top:50px;
            margin-bottom:30px;
          }

          p{
            @include section-paragraph-message;
            text-align: center;
            width:850px;
            margin: 0px auto 40px auto;
          }
        }
  
        .services-info{
          display: flex; 
          justify-content: space-between; 
          text-align: center;
          margin-top:80px;
  
          .service-card{
            width:30%;

            .img{
              height:85px;
              margin-bottom: 20px;
            }
            .img2{
              padding-top:17px;
            }
            .img3{
              padding-top:2px;
            }
            h3{
              @include paragraph-heading;
            }
            p{
              @include section-paragraph-message;
              margin-top: 20px;
              margin-bottom: 20px;
            }
            span{
              font-family: Arial, sans-serif;
              font-size:16px;
              color:#87B672;
              text-align: center;
            }
          }
        }
      }
  
      &.work{
        width:$page-width;
        height:360px;
        margin: 0px auto;
        background-color: #efefef;

        .work-heading{
          h2{
            @include section-heading;
            margin-top:50px;
            margin-bottom:20px;
            padding-top: 40px;
          }
  
          p{
            @include section-paragraph-message;
            text-align: center;
            width:850px;
            margin: 0px auto 40px auto;
          }
        }
      }

      &.purchase{
        width:$page-width;
        height:600px;
        margin: 0px auto;

        .work-info{
          display: flex; 
          justify-content: space-between; 
          text-align: center;
          //border-bottom: solid 1px #CCCCCC;
          margin-top: -186px;
  
          .work-card{
            width:30%;
            //background-color: lightskyblue;

            span{
              @include paragraph-heading;
              display: block;
              margin-top: 20px;
            }
          }
        }

        .purchase-heading{

          .divider{
            height:2px;
            background-color:#CCCCCC;
            margin-top: 30px;
          }

          h2{
            @include section-heading;
            //border-top: solid 1px #CCCCCC;
            margin-top:50px;
            margin-bottom:30px;
          }
  
          p{
            @include section-paragraph-message;
            text-align: center;
            width:850px;
            margin: 0px auto 40px auto;
          }
        }

        .btn-center{
          display: flex; 
          justify-content: center;
      
          .btn{
            cursor: pointer; 
            height: 44px; 
            width: 140px; 
            color: white; 
            background-color: #87B672;
            border:none;
            font-family: Arial;
            font-size: 14px; 
            font-weight: bolder;
            text-transform: uppercase;
            text-align: center;
          }
        }
      }
    }
  }
}
