#portfolio-page{

  .tags{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color:#5F5B5B;
    padding-top: 50px;
    padding-bottom: 50px;

    span{
      color:#87B672;
    }
  }

  section.previous-jobs{

    .portfolio-outer-row{
      width:$page-width;
      margin: 0px auto;
      position: relative;

      .background-area{
        position: absolute;
        top:0px;
        left:0px;
        width:100%;
        height:294px;
        z-index: -1;
        background-color: #EFEFEF;
      }

      .portfolio-card-row{
        display:flex;
        justify-content: space-between;
        margin-bottom: 50px;
  
        .portfolio-card{
          width:30%;
          font-family: Arial, Helvetica, sans-serif;

          h4{
            color:#5F5B5B;
            text-transform: uppercase;
            padding-top: 28px;
            padding-bottom: 10px;
            padding-left: 36px;
          }

          p{
            color:#8F8F8F;
            line-height: 26px;
            padding-left: 36px;
            padding-bottom: 20px;

          }
        }
      }
    }    
  }
}